
* {
        margin: 0;
        font-family: poppins;
        padding: 0;
    }
 html {
    scroll-behavior: smooth;
     text-rendering: optimizeLegibility;
     shape-rendering:  optimizeLegibility;
 }

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
.containertop{
    width: 100%;
    height: 20px;
    position: sticky;
    z-index: 1;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: right;
    align-content: normal;
         padding: 10px 10px;
         background: rgb(40, 41, 39);
         color: white;

}
.containertopzz{
    width: 100%;
    height: 20px;
    position: sticky;
    z-index: 1;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: normal;
         padding: 10px 10px;
         background: green;
         color: white;

}

@media screen and (max-width: 821px) {
.containertopzz{
    width: 100%;
    height: 20px;
    font-size: 14px;
    position: sticky;
    z-index: 1;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: normal;
         padding: 10px 10px;
         background: green;
         color: white;

}
.containertop{
    width: 100%;
    height: 20px;
    position: sticky;
    font-size: 14px;
    z-index: 1;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: right;
    align-content: normal;
         padding: 10px 10px;
         background: rgb(40, 41, 39);
         color: white;

}}


#top1 {
     color: white;
  font-size: 1em;
  text-align: center;
  margin-right: 20px;

}

#top2 {
     color: white;
  font-size: 1em;
  text-align: center;
  margin-right: 20px;

}
a {
    color: white;
    margin-right: 40px;
    text-decoration: none;
    font-size: 18px;
    position: sticky;
}
    nav{
  background:white;
  position: sticky;
            font-family: sans-serif;
            z-index: 1;
            top: 0;
  height: 80px;
  width: 100%;
    text-decoration: none;
  box-sizing: border-box;
    list-style: none;
}
 .logo {
        display: inline-block;
        margin-left: 60px;
        justify-content: left;
        align-items: center;
        margin-top:15px;
    }
 
    .logo img {
        width: 250px;
        border-radius: 0px;
    }
nav ul{
  float: right;
  font-size: 20px;
  font-weight: bold;
  margin-right: 80px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color:red;
  font-size: 17px;
  padding: 7px 20px;
  border-radius: 3px;
}

a.active,a:hover{

  border-bottom: solid;
  border-radius: 15px;
  border-top: solid;
  border-color: red;
  transition: .2s;

}
.checkbtn{
  font-size: 10px;
  color:white ;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  margin-top: 10px;
  align-items: center;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
i {
  color:gold;
  font-size: 2.5em;
  text-align: center;
}
#bar{
  color:red;
  font-size: 2.5em;
  text-align: center;
}
@media (max-width: 968px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 875px){
  .checkbtn{
    display: block;
  }

  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:red;
    color: red;
    top: 130px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
nav ul li a{
  color:white;
  font-size: 17px;
  padding: 7px 20px;
  border-radius: 3px;
}
 a.active,a:hover{

  border-bottom: solid;
  border-radius: 20px;
  border-top: solid;
  border-color: white;
  transition: .2s;

}
  #check:checked ~ ul{
    left: 0;
  }
}

 #hp  {
float: left;    
 margin: 0 105px 0 0;
 margin-top: 60px;
 justify-content: right;
 align-content: right;
}
.container {
  width:100%;
  height: 100vh;
  padding: 0;
  background:white;
  align-items: center;
  justify-content: center;
}

.left{
  padding-right: 10px;
  margin-left: 700px;

}

#my-form1 {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 2vw 2vw;
  width: 90%;
  max-width: 600px;
  border-radius: 20px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

#my-form1 h3 {
  color: rgb(40, 41, 39);
  font-family: poppins;
  font-weight: 800;
  margin-bottom: 20px;
}

#my-form1 input, textarea {
  border: 0;
  margin:10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
}

#my-form1 button {
  padding: 15px;
  background: green;
  color: #fff;
  font-size: 18px;
  border:0;
  outline: none;
  cursor: pointer;
  width:150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

#my-form1 button:hover{
  padding: 15px;
  background: none;
  color: green;
  font-size: 20px;
  cursor: pointer;
  width:150px;
  margin: 20px auto 0;
  border-radius: 50px;
 border-bottom: solid;
  border-top: solid;
  border-color: green;
  transition: .2s;
}


@media screen and (max-width: 821px) {
  #hp  {
    background-size: 100%;
 margin: 0 105px 0 0;
 margin-top: 30px;
 width: 100%;
 height: 73vh;
  }

  .container {
    height: auto;
    margin: 30px;

  }

  .left {
    margin-left: 0;
  }

  #my-form1 {
    padding: 2vw;
    max-width: 90%;
    margin-top: 20px;
  }

  #my-form1 input, 
  #my-form1 textarea {
    padding: 10px;
    font-size: 14px;
  }

  #my-form1 button {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
  }

  #my-form1 button:hover{
    font-size: 18px;
    width: 100%;
    border-bottom: solid;
  border-radius: 15px;
  border-top: solid;
  }
}


.you{
  font-size: 40px;
  color: rgb(40, 41, 39);
  font-family: poppins;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 821px){
    .you{
  font-size: 25px;
  color: rgb(40, 41, 39);
  text-align: center;
  margin: 10px;
 display: flex;
  font-family: poppins;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin-bottom: -30px;
} }

.reviewsss {
    background: rgb(40, 41, 39);
    color: white;
    font-size: 20px;
    text-align: center;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 30px;
    margin-left: 550px;
    height: 8vh;
    padding: 0vw 1vw;
    width: 15%;
    max-width: 700px;
    border-radius: 0px;
    box-shadow: 0 4px 20px 0 green, 0 6px 40px 0 green;
}

.review  {
    background: green;
    color: white;
    font-size: 18px;
    text-align: center;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 30px;
    margin-left: 280px;
    height: 23vh;
    padding: 0vw 3vw;
    width: 90%;
    max-width: 700px;
    border-radius: 60px;
}
#reviewd {
    font-size: 2rem;
    font-family: poppins;
    color: white;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 30px;
}

#reviews {
    background-color:rgb(40, 41, 39) ;
    color: gold;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#reviews:hover {
    background-color:white ;
    color:red;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

@media screen and (max-width: 821px){
  .reviewsss{
    background-color:rgb(40, 41, 39) ;
    color: white;
    margin-left: 150px;
    margin-right:50px;
    font-size: 18px;
    margin-top: -90px;
    margin-bottom: -35px;
    line-height: 30px;
    padding: 10px 60px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
}
.review  {
    background: green;
    color:white;
    font-size: 10px;
    text-align: center;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 30px;
    margin-left: 0px;
    margin: 10px;
    margin-top: 40px;
    height: 23vh;
    padding: 0vw 2vw;
    width: 90%;
    max-width: 700px;
    border-radius: 60px;
}
#reviewd {
    font-size: 1rem;
    font-family: poppins;
    color: white;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 30px;
}

#reviews {
    background-color:rgb(40, 41, 39) ;
    color: gold;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}}



.ratings-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ratings-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}

@media screen and (max-width: 821px){
  .ratings-heading h1{
    font-size: 1.8rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 6px 17px;
    margin-bottom: -20px;
}}



#my-form2 .my-container {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#my-form2 h3 {
  color: rgb(40, 41, 39);
  font-family: poppins;
  font-size: 30px;
  font-weight: 1000;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
}
#my-form2 iframe{
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
  width:70%;
  margin-left: 200px;
  height: 50vh;
  margin-bottom: 0px;
  color: red;
}
@media screen and (max-width: 821px){
#my-form2 iframe{
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
  width:80%;
  margin: 50px;
  height: 50vh;
  margin-bottom: 0px;
  color: red;
}}














.down-footerrr {
    width: 100%;
    color: #404040;
    margin-top: 0px;
    display: flex;
    text-align: left;
    align-items:center;
    justify-content: left;
    margin-left: 30px;
        color: white;
    }

ul li {
 display: inline-flex;
}

#footer {
    width: 100%;
    padding-top:2rem;
    background-color:rgb(32,30,30) ;
}
.upper-footer {
    display: flex;
    justify-content: space-around;
}
.up-left {
    width: 700px;
    display: flex;
}
.image {
    width: 200px;
    position: relative;

}
.up-left img{
    position: absolute;
    width: 100%;
}
.contents {
    width: 400px;
    margin-left: 3rem;

}
p {
     font-family: sans-serif;
    font-size: 15px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    color: white;
    font-weight:20px ;
   
}
.footer-heading {
    color:#404040;
    font-size: 1.2rem;
    margin-bottom: .6rem;
        color: white;
    text-transform: uppercase;
}
.up-right ul {
    display:flex;
    list-style: none;

}
.up-right ul li{
    height: 40px;
    width: 40px;
    padding: 6px;
    font-size: 1.4rem;
    border-radius: 5px;
    margin: 0 0.8rem 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.up-right ul li a{
    color: white;
    background:rgb(32,32,30) ;
}
.facebook {
font-size: 12px;


}
.instagram{
font-size: 12px;
}
.youtube{
font-size: 12px;
}
.down-footer {
    width: 100%;
    color: #404040;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
        color: white;

}
.footer-li {
    display: flex;
    list-style: none;
        color: white;
}
.footer-li li{
    padding: 0 1rem;
        color: white;
        line-height: 40px;
        
}
.footer-li li a{
    color: white;
    text-decoration: none;
    background:rgb(32,32,30) ;
}
.footer-li li a:hover{ 
      color: gold;
        background: rgb(32,32,30) ;
}
.leftpara
{
    color: white;
}
.rightpara
{
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#lastd {
    color: gold;
}
#lastd:hover{
    background:rgb(32,30,30) ;
}
hr {
       height: 3vh;
       width: 0px;
       margin-left: 130px;
       justify-content: center;
       align-items: center;
}
@media screen and (max-width: 821px) {
hr {
     height: 3vh;
     justify-content: center;
          align-items: center;
          margin-right: 130px;
}
    .up-left {
        width:100%;
    }
    .upper-footer, .down-footer, .up-left {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .image {
        margin: 2rem 0;
    }
    .contents {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .footer-heading {
        margin: 1rem 0;
        text-align: center;
    }
    .down-footer {
        flex-wrap: column-reverse;
    }

.down-footer .leftpara{
    margin-top: 1rem;
        color: white;
    }
    .footer-li {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        line-height: 25px;
        margin: 1rem auto;
            color: white;
    }
    p {
        text-align: center;
     font-family: sans-serif;
    font-size: 15px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    color: white;
    font-weight:20px ;
    stroke: solid green;
}
.footer-heading {
    color:#404040;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
        color: white;
    text-transform: uppercase;
}
    .down-footerrr {
         width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        line-height: 10px;
        margin: 1rem auto;
            color: white;
    }
    .myhead {
             width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
        line-height: 70px;
            color: white;
    } 
